<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>

<h1>Welcome to Kostea's best site ever, <%= @user.name %></h1>

<p>
  You have successfully create a post.<br>
  your title is: <%= @post.title %>.<br>
  your description is: <%= @post.description %>.<br>
</p>

<p>Thanks for joining and have a great day!</p>

</body>
</html>